.exchange-icons{ background:url("exchange-icons.png") top left no-repeat; }
.exchange-icons_r5_c3{ width:60px; height:60px; background-position:-10px -10px; }
.exchange-icons_r1_c1{ width:60px; height:60px; background-position:-10px -80px; }
.exchange-icon-60{ width:60px; height:60px; background-position:-10px -150px; }
.exchange-icons_r6_c3{ width:30px; height:30px; background-position:-10px -220px; }
.exchange-icons_r2_c1{ width:30px; height:30px; background-position:-10px -260px; }
.exchange-icon-30{ width:30px; height:30px; background-position:-10px -300px; }
.exchange-icons_r7_c3{ width:22px; height:22px; background-position:-10px -340px; }
.exchange-icons_r3_c1{ width:22px; height:22px; background-position:-42px -340px; }
.exchange-icon-22{ width:22px; height:22px; background-position:-10px -372px; }
